<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Lottery numbers generator</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../styles/main.css">
	</head>
	<header>
		<h2>Generate Lottery numbers</h2>
	</header>
	<body>
		<div class='content'>
			<div class='row'>
					<h4>Enter custom range here:</h4>
					<input id='inp-range-from' placeholder='min'>
					<input id='inp-range-to' placeholder='max'>
					<button id='but-set-range'>set</button>
					<p>if you don't set these values the default will be the standard lottery numbers: 1-49</p>
				<div class='col-sm-2'></div>
				<div class='col-sm-8'>
					<button class='start-btn' id='but-start'>Start</button>
				</div>
				<div class='col-sm-2'></div>
			</div>
			<div class='row'>
				<table class='tb-lottery-numbers' id='tb-current-numbers'></table>
			</div>
		</div>
	</body>
	<footer>
		<script src='../js/scripts.js'></script>
	</footer>
</html>